.container
  %div{:style => "margin-top:50px;"}
    %h2 Recent Activities
    %p Send these same howls with just 1 click
    .list-group
      - @history.each do |h|
        %a.list-group-item{:href => "/event/confirm"}
          %p= "eid:#{h[:eid]}:"
          %p= h[:receiver_name]
          %p= h[:receiver]
          %p= h[:address_string]
          %p= h[:duration_setting]
          %p= h[:datetime_sent]
    
