.container
	.row
		.col-lg-12.text-center{:style => "padding: 100px"}
			%p The Wherewoof App is a project of City Dog Share
			%p a 501c3 nonprofit organization
			%a{:href => "http://citydogshare.org"}
				= image_tag("citydogshare_logo.jpg", :size => '150x150')

- if @name
	= link_to "events", "/events/create"
	= link_to "contacts", "/contacts/gmail"
	= link_to "logout", "/welcome/destroy"
    
- else
	= link_to "user_login", "/auth/google_oauth2"


%nav.navbar.navbar-fixed-bottom{:style => "background: #000; padding: 20px"}
	.container
		.row
			.col-xs-3
			.col-xs-6
			.col-xs-3
				%a.btn.btn-success{:href => "/event/select_destination"}
					%span New
					%span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
