%h1 Event#select_contacts
- if @contacts
    = form_tag event_select_duration_path, :method => :get, :id => 'ratings_form' do
        - @contacts.each do |contact|
            = contact
            = check_box_tag "info[#{contact}]", :id => "info_#{contact}"
        = submit_tag 'Submit Contacts', :id => 'contacts'
- else
    = link_to "contacts", "/contacts/gmail"
