.container
    %h1 Select Contacts
    - if @contacts
        = form_tag event_select_duration_path, :method => :get, :id => 'ratings_form' do
            - @contacts.each do |contact|
                = contact
                = check_box_tag "info[#{contact}]", :id => "info_#{contact}"
            = submit_tag 'Submit Contacts', :id => 'contacts'
    - else
        = link_to "contacts", "/contacts/gmail"
    %nav.navbar.navbar-fixed-bottom{:style => "background: #000; padding: 20px"}
        .container
            .row
                .col-xs-3
                    %a.btn.btn-danger{:href => "/event/select_destination"} 
                        %span.glyphicon.glyphicon-arrow-left{"aria-hidden" => "true"}
                        %span Back
                .col-xs-6
                .col-xs-3
                    %a.btn.btn-success{:href => "/event/select_duration"}
                        %span Next
                        %span.glyphicon.glyphicon-arrow-right{"aria-hidden" => "true"}