

.container{:style => "margin-top: 0px;"}
    %h1 Select Contacts
    %p Please check the contacts you would like to send to or add contacts that are not currently in your contact list.
    - if flash[:notice]
        .alert-message.warning
            %p= flash[:notice]
  
    = form_tag event_select_contacts_path, :method => :get, :id => 'add_form' do
        %input.form-control{:id => "add_name", :placeholder => "Add Name", :type => "text", :name => "name", :required => true}/
        %input.form-control{:id => "add_email", :placeholder => "Add Email", :type => "text", :name => "email", :required => true}/            
        %button.btn.btn-default.btn-block{:type => "submit"} Add Contact


    
    

    / # = form_tag event_store_contacts_path, :method => :post, :id => 'ratings_form' do
    %form{:action => "/event/store_contacts", :method => "post", :id => "ratings_form"}
        - if @receiver_all
            %ul.list-group
                - (0...@receiver_all.size).each do |i|
                    %li.list-group-item
                        .input-group
                            %span#basic-addon2.input-group-addon 
                                = "#{@receiver_name_all[i]} : #{@receiver_all[i]}"
                            %span.input-group-addon
                                %input.receivers{"aria-label" => "...", :type => "checkbox", :name => "info_#{@receiver_all[i]}", :value => "#{@receiver_name_all[i]}, #{@receiver_all[i]}"}/
                        / = contact
                        / = check_box_tag "info[#{contact}]", :id => "info_#{contact}"
        
    
        

        %nav.navbar.navbar-fixed-bottom{:style => "background: #000; padding: 20px"}
            .container
                .row
                    .col-xs-3
                        %a.btn.btn-danger{:href => "/event/select_destination"} 
                            %span.glyphicon.glyphicon-arrow-left{"aria-hidden" => "true"}
                            %span Back
                    .col-xs-6
                    .col-xs-3
                        / %a.btn.btn-success{:onclick => "submit_form();return false;", :href => "/event/select_duration"}
                        %button.btn.btn-success{:type => "submit"}
                            %span Next
                            %span.glyphicon.glyphicon-arrow-right{"aria-hidden" => "true"}

