.container

  %h1 Summary
  .panel.panel-default
    .panel-heading
      %h3.panel-title Address:
    .panel-body
      %p= "#{@address_string}"
      - if @address_lat and @address_lng
        - if @address_string != "No Destination Chosen"
          %p{:style=>"display:none;"}= "Lat: #{@address_lat}, Lng: #{@address_lng}"
  .panel.panel-default
    .panel-heading
      %h3.panel-title To:
      - if @receiver_name
        - (0...@receiver_name.size).each do |i|
          .panel-body
            = "#{@receiver_name[i]} #{@receiver[i]}"
            - if i != @receiver_name.size - 1
              = ", "
  .panel.panel-default
    .panel-heading
      %h3.panel-title Duration:
    .panel-body
      %p= "#{@duration}"
  .panel.panel-default
    .panel-heading
      %h3.panel-title Message:
    .panel-body
      %p= "#{session[:message]}"
      
  
  / %h4 Testing location
  / %P= "#{session[:latlong]}"
  
  %form{:id => "create", :action => "/event/summary", :method => "post"}
    %input#submit-form.hidden{:type => "submit"}/
  
  %nav.navbar.navbar-fixed-bottom{:style => "background: #000; padding: 20px"}
    .container
      .row
        .col-xs-3
          %a.btn.btn-danger{:href => "/event/message"}
            %span.glyphicon.glyphicon-arrow-left{"aria-hidden" => "true"}
            %span Back
        .col-xs-6
        .col-xs-3
          %a.btn.btn-success{:href => "/event/send_mail", :onclick => "document.getElementById('create').submit();return false;"}
            %span Send 
            <!-- %span.glyphicon.glyphicon-arrow-right{"aria-hidden" => "true"} -->

