%h1 Receiver's view

!!!
%html
  %head
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    :css
      html, body {
        height: 100%;
        margin-left: 5px; 
        margin-right: 5px; 
        padding: 0;
      }
      #map {
        height: 80%;
      }
  %body
    #map
    :javascript
    
      var marker = null;
      function initMap() {
        
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: #{@lati}, lng: #{@longi}},
          zoom: 18,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
      
        
      //addMarker();
        
        addMarker({
          lat: #{@lati},
          lng: #{@longi}
        });
        
        function addMarker(data) {
          
          var newPoint = new google.maps.LatLng(data.lat, data.lng);
          
          if (marker) {
            
            marker.setPosition(newPoint);
            
          }
          
          else {
          
            marker = new google.maps.Marker({
                      position: newPoint,
                      map: map
                  });
            marker.setPosition(location);
          
          }
          
          map.setCenter(newPoint);
          
          
              
          setTimeout(function() {
            $.ajax({
              method: "GET",
              url: '/event/latlng/#{@event.id}',
              success: function (data) {
                console.log(data)
                addMarker(data)
              }
             
            });
          }, 5000)      
                
        }
      
      
      //addMarker();
      
      }
      
      
      
        
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?&callback=initMap"}
      :cdata      
